.p-sm {
    padding: $smPadding;
}

.p-l-sm {
    padding-left: $smPadding;
}

.p-md {
    padding-left: $mdPadding;
}

.m-b-5 {
    margin-bottom: $smPadding !important;
}

.color-white, h2 {
    color: $whiteColor !important;
}

.bg-danger {
    background-color: $redColor !important;
}

.bg-success {
    background-color: $greenColor !important;
}

