$primaryColor: #001529;
$lightColor: #A6AD84;
$smPadding: 4px;
$mdPadding: 2 * $smPadding;
$mdMargin: 10px;
$whiteColor : #fff;
$redColor : #e74c3c;
$greenColor : #2ecc71;
$backgroundColorIcon : rgba(0,0,0,0.1)
